.example-component {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: height 500ms 0ms, opacity 500ms 500ms;
    opacity: 1;
}

.example-component.show {
    transition: height 500ms 500ms, opacity 500ms 0ms;
    opacity: 1;
    height: 100px;
}

.example-component.hide {
    transition: height 500ms 500ms, opacity 500ms 0ms;
    opacity: 0;
    height: 0;
}