$fa-font-path: "~font-awesome/fonts";
@import '../../node_modules/font-awesome/scss/font-awesome';
@import './icomoon';

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.square {
    width: 40px;
    height: 40px;
}

td {
    width: 34px;
    height: 34px;
}
.table {
    width: auto;
    margin: 0 auto;
}

.fa-player-O:before {
    content: "\f10c";
}

.fa-player-X:before {
    content: "\f00d";
}

.matrixBoard {
    min-width: 120px;
}

.btn.mine-sweeper-cell {
    border-radius: 0;
    margin: 1px;
}

.background-color-red {
    background-color: #FA8072;
}

.btn-default.focus.background-red, .btn-default.background-red:focus {
    background-color: red;
}

.background-red {
    background-color: red;
}

.btn-default.focus, .btn-default:focus {
    background-color: transparent;
}

.closed-box.mine-sweeper-cell {
    background-color: lightgray;
}

.force-open.game-over {
    background-color: transparent;
}

.square.reset-btn {
    font-size: 1.8em;
}

h1 {
    color: red;
}

h2 {
    color: red;
}
